@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
:root {
	--margin: 0;
}

* {
	border: 0;
	margin: var(--margin);
	padding: 0;
	box-sizing: border-box;
}

html {
	font-size: 62.5%;
}

body {
	font-family: 'Poppins', serif;
}

#fuel {
	display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: column;
	gap: 2rem;

	min-height: 100dvh;
	width: 100%;
	padding: 4rem 0;

	background-color: #f1f1f1;
}

.title {
	width: 90%;

	text-align: start;
	font-size: 2.4rem;
	font-weight: 600;
	letter-spacing: 0.1rem;
}

.accordion {
	width: 90%;
	cursor: pointer;
}

.accordion-header {
	display: flex;
	justify-content: space-between;
	align-items: baseline;

	width: 100%;
	padding: 1.5rem;

	border-radius: 1rem;
	border: 0.1rem solid #0045b5;

	cursor: pointer;
	background-color: #0045b5;

	& span {
		font-weight: 600;
		font-size: 1.8rem;

		color: #f1f1f1;
		background-color: transparent;
	}

	& .arrow {
		font-size: 1.8rem;

		color: #f1f1f1;
	}
}

.accordion-body {
	display: flex;
	align-items: center;

	text-align: justify;
	opacity: 0;
	height: 0;
	overflow: hidden;
	transition: opacity 0.3s;
	background-color: transparent;

	& p {
		font-size: 1.6rem;
		line-height: 1.6;

		color: #000;
		opacity: 0.8;
	}
}

.accordion-body.active {
	height: 100%;
	opacity: 1;
	padding: 2.5rem 1rem 4rem 1rem;
}

.arrow {
	transition: transform 0.2s linear;
}

.accordion:has(.active) .arrow {
	transform: rotate(180deg);
}

#form-fuel {
	display: flex;
	justify-content: center;
	flex-direction: column;
	gap: 2rem;

	margin-top: 2rem;
	padding: 2.5rem 1rem;
	width: 90%;

	background-color: transparent;

	border-radius: 1rem;
	box-shadow: 0 0 1rem rgb(0 0 0 / 0.3);

	& .form-title {
		text-align: justify;
		font-size: 1.6rem;
		font-weight: 500;
		letter-spacing: 0.1rem;

		padding: 1.5rem 1rem;
		border-radius: 1rem;

		background-color: #ffc700;
	}
}

.input-container {
	display: flex;
	flex-direction: column;

	& label {
		font-size: 1.4rem;
		font-weight: 600;
		color: #0045b5;
		padding: 0.5rem;
	}

	& input {
		padding-left: 1rem;
		height: 5rem;
		width: 100%;
		border-radius: 1rem;
		border: 0.1rem solid rgb(0 0 0 / 0.3);
	}

	& #error-msg-gasoline {
		color: #ff0000a1;
	}
}

#input-btn {
	background-color: #0045b5;
	color: #f1f1f1;
	font-size: 1.8rem;
	font-weight: 600;

	margin-top: 1rem;
	padding: 2rem;
	border-radius: 5rem;

	cursor: pointer;
}

dialog::backdrop {
	background-color: #f1f1f1;
}

dialog {
	width: 90%;

	border-radius: 1rem;
	box-shadow: 0 0 1rem rgb(0 0 0 / 0.4);
}

.modal {
	display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: column;

	min-height: 50dvh;
	width: 100%;
	padding: 0 2rem;
	text-align: center;

	background-color: #fff;
	border-radius: 1rem;
}

#modal-result {
	font-size: 1.8rem;
	font-weight: 500;
	text-transform: uppercase;
	color: #000;
	opacity: 0.8;
}

#modal-text {
	font-size: 2.4rem;
	font-weight: 600;
	letter-spacing: 0.1rem;
	line-height: 1.6;
	color: #0045b5;
}

#close-modal {
	font-size: 4rem;
	color: #000;
	background-color: transparent;
	cursor: pointer;
}

footer {
	display: flex;
	justify-content: center;
	align-items: center;

	margin-top: 2rem;
	height: 4rem;
	width: 100%;
}

.copyright-text {
	text-align: center;
	font-size: 1.2rem;
	font-weight: 400;

	width: 90%;

	& span {
		font-weight: 600;
	}
}

a {
	text-decoration: none;
}

a .home-btn-fixed {
	position: fixed;
	right: 0;
	bottom: 0;

	font-size: 2rem;
	padding: 2rem;
	margin: 0rem 2rem 5rem 0;

	border-radius: 50%;
	color: #0045b5;
	background-color: #ffc700;
}
